@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

:root{
    --black-color: #2D2D2D;
    --green-color: #009379;
}

body{
    background-color: #F8F9FF;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 30px;
}
.nav-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.nav-logo-text{
    color: var(--black-color);
    font-size: 21px;
    font-weight: 400;
    line-height: 27.3px;
    text-align: center;
}
.nav-logo-text1{
    font-weight: 700;
}
.nav-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.nav-contact{
    color: var(--green-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}
.nav-secondary-btn{
    border: none;
    border-radius: 20px;
    padding: 16px 50px 16px 50px;
    color: var(--green-color);
    background-color: #E5F4F2;
    margin-left: 30px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}
.nav-primary-btn{
    border: none;
    border-radius: 20px;
    padding: 16px 50px 16px 50px;
    background-color: var(--green-color);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}

@media screen and (min-width: 375px) and (max-width: 780px) {
    .nav-logo-text{
        display: none;
    }
    .nav-contact{
        display: none;
    }
}
@media screen and (max-width: 375px) {
    .nav-logo-text{
        display: none;
    }
    .nav-contact{
        display: none;
    }
    .nav-primary-btn{
        display: none;
    }
}