@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

:root{
    --black-color: #2D2D2D;
    --green-color: #009379;
    --yellow-bg-color: #F8D57E;
}

body{
    background-color: #F8F9FF;
}

/* nav-bar */
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 30px;
}
.nav-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.nav-logo-text{
    color: var(--black-color);
    font-size: 21px;
    font-weight: 400;
    line-height: 27.3px;
    text-align: center;
}
.nav-logo-text1{
    font-weight: 700;
}
.nav-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.nav-contact{
    color: var(--green-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}
.nav-secondary-btn{
    border: none;
    border-radius: 20px;
    padding: 16px 50px 16px 50px;
    color: var(--green-color);
    background-color: #E5F4F2;
    margin-left: 30px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}
.nav-primary-btn{
    border: none;
    border-radius: 20px;
    padding: 16px 50px 16px 50px;
    background-color: var(--green-color);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}

/* hero-section */
.hero-section-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 30px 60px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.hero-title{
    font-size: 90px;
    font-weight: 700;
    line-height: 117px;
    letter-spacing: -0.025em;
    text-align: center;
    color: #2D2D2D;
}
.hero-desc{
    color: var(--black-color);
    font-family: Mulish;
    font-size: 28px;
    font-weight: 400;
    line-height: 39.2px;
    text-align: center;
    margin-bottom: 20px;
}
.hero-primary-btn{
    background-color: var(--green-color);
    border: none;
    color: #fff;
    border-radius: 20px;
    padding: 16px 50px 16px 50px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}

/* feature section */
.feature{
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 30px 120px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.feature-title{
    font-size: 38px;
    font-weight: 700;
    line-height: 49.4px;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--black-color);
}
.feature-desc{
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: var(--black-color);
    margin-bottom: 30px;
}
.other-feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.feature-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: #ffffff;
    max-width: calc(100%/3.5);
    padding: 40px 30px 40px 30px;
    border: none;
    border-radius: 20px;
}
.feature-div h1{
    font-size: 28px;
    font-weight: 600;
    line-height: 36.4px;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--black-color);
}
.feature-div p{
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: var(--black-color);
}
.feature-div a{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: var(--green-color);
}

/* stats section */
.stats{
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 30px 120px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.stats-title{
    font-size: 38px;
    font-weight: 700;
    line-height: 49.4px;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--black-color);
}
.stats-desc{
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: center;
    color: var(--black-color);
    margin-bottom: 30px;
}
.other-stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 30px;
}
.stats-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #fff;
    padding: 48px 16px 48px 16px;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 4px solid #F2BFAF;
    width: calc(100%/3);
}
.stats-div h1{
    font-size: 38px;
    font-weight: 700;
    line-height: 49.4px;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--black-color);
}
.stats-div p{
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: center;
    color: var(--black-color);
}

/* story section */
.story-section{
    background-color: var(--yellow-bg-color);
}
.story{
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 30px 120px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.story-title{
    font-size: 38px;
    font-weight: 700;
    line-height: 49.4px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #000;
}
.story-desc{
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: var(--black-color);
}
.other-story{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.story-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    border-radius: 20px;
    padding: 40px;
}
.story-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.story-left img{
    margin: 0 30px;
}
.story-left h1{
    font-size: 21px;
    font-weight: 600;
    line-height: 27.3px;
    text-align: center;
    columns: #111827;
}
.story-left p{
    font-family: Mulish;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: center;
    color: #374151;
}
.story-right{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}
.story-right p{
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--black-color);
}

/* team section */
.team{
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 30px 120px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.team-title{
    font-size: 38px;
    font-weight: 700;
    line-height: 49.4px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #000;
}
.team-desc{
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: var(--black-color);
    margin-bottom: 40px;
}
.other-team{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    max-width: 100%;
}
.team-div{
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 6px;
    background-color: #fff;
}
.team-div img{
    margin-bottom: 10px;
}
.team-div h1{
    font-size: 21px;
    font-weight: 700;
    line-height: 27.3px;
    text-align: center;
    color: #111827;
}
.team-div h6{
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #374151;
    margin-bottom: 24px;
}
.team-div p{
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: center;
    color: var(--black-color);
    margin-bottom: 24px;
}
.social-team{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.social-team a{
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: var(--green-color);
}

/* newsletter section */
.newsletter-section{
    padding: 0 30px 120px 30px;
}
.newsletter{
    max-width: 1140px;
    margin: 0 auto;
    padding: 60px 120px 60px 120px;
    background-color: #E5F4F2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border-radius: 20px;
}
.newsletter-title{
    font-size: 38px;
    font-weight: 700;
    line-height: 49.4px;
    letter-spacing: -0.025em;
    text-align: center;
    color: var(--black-color);
}
.newsletter-desc{
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: center;
    color: var(--black-color);
    margin-bottom: 20px;
}
.newsletter form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.newsletter-email{
    border: none;
    border-radius: 20px;
    background-color: #fff;
    padding: 16px 40px 16px 20px;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #2B2B2B;
    width: 440px;
}
.newsletter-primary-btn{
    background-color: var(--green-color);
    border: none;
    color: #fff;
    border-radius: 20px;
    padding: 16px 50px 16px 50px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    margin-left: -180px;
}

/* cta section */
.cta-section{
    background-color: var(--yellow-bg-color);
}
.cta{
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.cta-title{
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--black-color);
}
.cta-desc{
    font-family: Mulish;
    font-size: 21px;
    font-weight: 400;
    line-height: 31.5px;
    text-align: center;
    color: var(--black-color);
    margin-bottom: 40px;
}
.cta-img img{
    overflow: hidden;
}

/* footer section */
.footer-section{
    background-color: var(--black-color);
}
.footer{
    max-width: 1200px;
    margin: -6.55px auto 0 auto;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copywrite{
    color: #fff;
    font-family: Mulish;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}
.social-footer{
    display: flex;
    align-items: center;
    gap: 16px;
}

@media screen and (max-width: 1136px){

    /* story */
    .story{
        padding: 80px 60px 80px 60px;
    }
    .other-story{
        flex-direction: column;
    }
    .story-div{
        gap: 30px;
    }
}

@media screen and (max-width: 1030px){

    /* team */
    .team{
        padding: 80px 30px 80px 30px;
    }
    .other-team{
        flex-direction: column;
        align-items: center;
    }
    .team-div h1{
        font-weight: 600;
    }
}

@media screen and (max-width: 930px){

    /* cta */
    .cta-img img{
        width: 806.4px;
        height: 491.4px;
    }
}

@media screen and (max-width: 830px){

    /* cta */
    .cta{
        padding: 50px 30px 100px 30px;
    }
    .cta-img img{
        width: 716.8px;
        height: 436.8px;
    }
}

@media screen and (max-width: 730px){

    /* cta */
    .cta-img img{
        width: 627.2px;
        height: 382.2px;
    }
}

@media screen and (max-width: 630px){

    /* cta */
    .cta-img img{
        width: 537.6px;
        height: 327.6px;
    }

}

@media screen and (max-width: 560px){

    /* footer */
    .footer{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .copywrite{
        order: 2;
    }
    .social-footer{
        order: 1;
    }
}

@media screen and (max-width: 545px){

    /* cta */
    .cta-img img{
        width: 448px;
        height: 273px;
    }
}

@media screen and (max-width: 461px){

    /* cta */
    .cta{
        padding: 30px 30px 60px 30px;
    }
    .cta-title{
        font-size: 28px;
        font-weight: 600;
        line-height: 36.4px;
        letter-spacing: -0.01em;
        text-align: center;
    }
    .cta-desc{
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 24px;
    }
    .cta-img img{
        width: 358.4px;
        height: 218.4px;
    }
}

@media screen and (max-width: 815px) {
    /* nav */
    .nav-logo-text{
        display: none;
    }
    .nav-contact{
        display: none;
    }

    /* hero */
    .hero-title{
        font-size: 50px;
        line-height: 65px;
        letter-spacing: -0.02em;
    }
    .hero-desc{
        font-size: 21px;
        line-height: 31.5px;
    }
}

@media screen and (max-width: 780px){

    /* feature */
    .feature{
        padding: 80px 30px 80px 30px;
    }
    .other-feature{
        flex-direction: column;
        gap: 20px;
    }
    .feature-div{
        max-width: 100%;
    }

    /* newsletter */
    .newsletter-section{
        padding: 0 30px 100px 30px;
    }
    .newsletter{
        padding: 60px;
    }
}

@media screen and (max-width: 755px){
    
    /* stats */
    .stats{
        padding: 80px 30px 80px 30px;
    }
    .other-stats{
        flex-wrap: wrap;justify-content: center;
    }
    .stats-div{
        width: calc(100%/2.5);
    }
    .stats-div h1{
        font-size: 28px;
        font-weight: 600;
        line-height: 36.4px;
        letter-spacing: -0.01em;
    }
}

@media screen and (max-width: 600px){

    /* story */
    .story-div{
        flex-direction: column;
        align-items: center;
    }
    .story-right p{
        text-align: center;
    }
}

@media screen and (max-width: 525px){

    /* newsletter */
    .newsletter-section{
        padding: 30px 30px 60px 30px;
    }
    .newsletter{
        padding: 40px 27.5px;
    }
    .newsletter-title{
        color: var(--black-color);
        font-size: 28px;
        font-weight: 600;
        line-height: 36.4px;
        letter-spacing: -0.01em;
        text-align: center;
    }
    .newsletter form{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .newsletter-email{
        width: 260px;
    }
    .newsletter-primary-btn{
        margin-left: 0;
        width: 260px;
    }
}

@media screen and (max-width: 430px) {
    .nav-primary-btn{
        display: none;
    }
    .hero-title{
        font-size: 38px;
        line-height: 49.4px;
    }
    .hero-desc{
        font-size: 16px;
        line-height: 24px;
    }

    /* team */
    .team{
        padding: 60px 30px 60px 30px;
    }
    .team-title{
        font-weight: 600;
    }
}

@media screen and (max-width: 395px){

    /* feature */
    .feature{
        padding: 60px 30px 60px 30px;
    }
    .other-feature{
        gap: 30px;
    }

    /* stats */
    .stats{
        padding: 60px 30px 60px 30px;
    }
}

@media screen and (max-width: 368px){

    /* newsletter */
    .newsletter-section{
        padding: 30px 10px 60px 10px;
    }
    .newsletter-email{
        width: 220px;
    }
    .newsletter-primary-btn{
        margin-left: 0;
        width: 220px;
    }
}